html {
    font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
    background-color: #fffbeb;
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

p {
    font-size: 3.5rem;
    margin: 0rem 0rem 3.5rem 0rem;
    line-height: 1.1;
    letter-spacing: -4px;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

a::before {
    content: '';
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

a::before, a::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #222;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.main {
    max-width: 1200px;
    width: 90vw;
    padding: 10vw 5vw;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    p {
        letter-spacing: -1px;
    }
}
